/* Całkowity reset marginesów przeglądarki */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #242424;
}

#game-container {
    /* Ustawiamy na sztywno pozycję od krawędzi */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* Centrowanie zawartości (płótna Phasera) */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stylizacja Twoich inputów */
#game-container input {
    width: 250px;
    padding: 12px 15px;
    border: 2px solid #34495e;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
    transition: border-color 0.3s;
}

#game-container input:focus {
    border-color: #f1c40f;
    box-shadow: 0 0 8px rgba(241, 196, 15, 0.5);
}